*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-black);
  font-family: 'Poppins', sans-serif;
  font-weight: var(--weight-regular);
}

input {
  outline: 0;
  border: none;
}

button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
}

button:active {
  transform: scale(0.98);
}

input:focus,
button:focus {
  outline: 0;
  border: none;
}

a,
a:link,
a:visited {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
